.App {
  --blue-theme: #053d6f;
  min-height: 100vh;
  background-color: var(--blue-theme);
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: 0.8fr 0.2fr;
  grid-template-areas:
    "board history"
    "play play";
}

.play {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.play input {
  width: 200px;
  height: 50px;
}

.play h2 {
  color: white;
}

.play > div {
  display: flex;
  align-items: center;
}

.play > div > div {
  display: flex;
}

.history {
  color: Yellow;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.historyDice {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.msg {
  display: flex;
  flex-direction: column;
  color: white;
}
